* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding-top: 5%;
    padding-left: 15%;
}

a {
    color: #0081FB;
}

.navi {
    color: black;
    font-size: 1.1em;
    text-decoration: none;
    padding-right: 4px;
}

.navi:hover {
    color: purple;
    transition: 0.75s;
}

.main {
    padding-top: 2%;
    padding-left: 15%;
    padding-bottom: 2.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
}

.photo {
    width: 325px;
    height: 300px;
    object-fit: cover;
    margin: 5px;
    margin-bottom: 0;
    margin-left: 0;
}